﻿@color:#4a3c8c;
@bgColor:#f5d8f4;

body {
    background-color:@bgColor;
}

.navbar-inverse {
  background-color:@color;
  border-color: @color;
}

.mainFont{
    color:white;
    font-weight:bold;

}

#map-canvas{
    width:100%;
    height: 400px;
    background-color: #ccc;
    border: 2px solid @color;
}