﻿body {
  background-color: #f5d8f4;
}
.navbar-inverse {
  background-color: #4a3c8c;
  border-color: #4a3c8c;
}
.mainFont {
  color: white;
  font-weight: bold;
}
#map-canvas {
  width: 100%;
  height: 400px;
  background-color: #ccc;
  border: 2px solid #4a3c8c;
}
/*# sourceMappingURL=site.css.map */